<!DOCTYPE html>
<html lang="pt-bt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">

        <title>Contatos</title>
    </head>

    <body>
        <div class="menu">
            <header class="topo">
                <div class="tile">
                    <h1>Agenda </h1>
                    <h2>Telefônica</h2>
                </div>
                
                <img src="./img/tivic.png">
            </header>
            
            <hr class="hr-topo">

            <nav class="nav-cadastro">
                <form action="">
                    <ul>
                        <li>
                            <input type="radio" name="tabs" class="rd_tabs" id="tb1" checked>
                            <label id="label-tab" for="tb1">Cadastro</label>
                            <div class="content">
                                <article>
                                    <label>Nascimento</label> <br>
                                    <input id="data" type="date" name="data-nascimento" disabled="true" required> <br><br>
    
                                    <label>Name</label> <br>
                                    <input class="input-nome" type="text" name="name" disabled="true" required/> <br><br>
    
                                    <label>Sobrenome</label> <br>
                                    <input class="input-sobrenome" type="text" name="sobrenome" disabled="true" required/> <br><br>
    
                                    <label>Email</label> <br>
                                    <input class="input-email" type="email" name="email" disabled="true" required/>
                                </article>
                            </div>
                        </li>
    
                        <li>
                            <input type="radio" name="tabs" class="rd_tabs" id="tb2">
                            <label class="endereco" id="label-tab" for="tb2">Endereço</label>
                            <div class="content">
                                <article>
                                    <label>Endereço</label> <br>
                                    <input type="text" name="name" />
                                </article>
                            </div>
                        </li>
    
                        <li >
                            <input type="radio" name="tabs" class="rd_tabs" id="tb3">
                            <label id="label-tab" for="tb3">Telefônes</label>
                            <div class="content">
                                <article></article>
                            </div>
                        </li>
    
                    </ul>

                    <div class="buttons">
                        <button class="novo">Novo</button>

                        <button type="submit" class="salvar" disabled="true">Salvar</button>
                    </div>
                </form>


                
            </nav>

        </div>
     
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="script.js"></script>
    </body>

</html>
