<!DOCTYPE html>
<html lang="pt-bt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel='stylesheet' type='text/css' href='bootstrap/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">

        <title>Contatos</title>
    </head>

    <body>
        <div class="menu">
            <header class="topo">
                <div class="tile">
                    <h1>Agenda </h1>
                    <h2>Telefônica</h2>
                </div>
                
                <img src="./img/tivic.png">
            </header>
            
            <hr class="hr-topo">

            <nav class="nav-cadastro">
                <form action="">
                    <ul>
                        <li>
                            <input type="radio" name="tabs" class="rd_tabs" id="tb1" checked>
                            <label id="label-tab" for="tb1">Cadastro</label>
                            <div class="content">
                                <article>
                                    <label>Nascimento</label> <br>
                                    <input id="data" type="date" name="data-nascimento" disabled="true" required> <br><br>
    
                                    <label>Name</label> <br>
                                    <input class="input-nome" type="text" name="name" disabled="true" required/> <br><br>
    
                                    <label>Sobrenome</label> <br>
                                    <input class="input-sobrenome" type="text" name="sobrenome" disabled="true" required/> <br><br>
    
                                    <label>Email</label> <br>
                                    <input class="input-email" type="email" name="email" disabled="true" required/>
                                </article>
                            </div>
                        </li>
    
                        <li>
                            <input type="radio" name="tabs" class="rd_tabs" id="tb2">
                            <label class="endereco" id="label-tab" for="tb2">Endereço</label>
                            <div class="content">
                                <article id="art-endereco">
                                    <label>Cep</label> <br>
                                    <input id="cep" type="text" name="cep" disabled="true" /> <br><br>

                                    <label>Logradouro</label> <br>
                                    <input id="logradouro" type="text" name="logradouro" required disabled="true" /> <br><br>

                                    <label>Numero</label> <br>
                                    <input id="numero" type="number" name="numero" disabled="true" /> <br><br>

                                    <label>Complemento</label> <br>
                                    <input id="complemento" type="text" name="complemento" disabled="true" /> <br><br>

                                    <label>Bairro</label> <br>
                                    <input id="bairro" type="text" name="bairro" disabled="true" /> <br><br>

                                    <label>UF</label> <br>
                                    <select id="uf" name="uf" required disabled="true">
                                        <option value="">Selecione o Estado</option>
                                    </select> <br> <br>
                                    <input type="hidden" name="uf">

                                    <label>Cidade</label> <br>
                                    <select id="cidade" name="cidade" disabled="true" required>
                                        <option value="">Selecione a Cidade</option>
                                    </select> <br><br>

                                    <label>Tipo</label> <br>
                                    <select class="tipo" name="tipo" disabled="true">
                                        <option value = 1 >Comercial</option>

                                        <option selected value = 2 >Recidencial</option>
                                    </select>
                                </article>
                            </div>
                        </li>
    
                        <li >
                            <input type="radio" name="tabs" class="rd_tabs" id="tb3">
                            <label id="label-tab" for="tb3">Telefônes</label>
                            <div class="content">
                                <article>
                                    <label>Numero</label> <br>
                                    <input id="numeroTelefone" type="text" name="numeroTelefone" disabled="true" required /> <br><br>
                                    
                                    <label>Tipo</label> <br>
                                    <select class="tipoTelefone" name="tipoTelefone" disabled="true" required> <br><br>
                                        <option selected value = 1>Celular</option>
                                        <option value = 2>Comercial</option>
                                        <option value = 3>Fax</option>
                                        <option value = 4>Recidencial</option>
                                    </select>
                                </article>
                            </div>
                        </li>
    
                    </ul>

                    <div class="buttons">
                        <button class="novo">Novo</button>

                        <button type="submit" class="salvar" disabled="true">Salvar</button>
                    </div>
                </form>


                
            </nav>

        </div>

        <div class="listagem">
            <header class="menu-listagem">

            </header>
            <div class="campos-tabela">
                
            </div>
        </div>
     
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="script.js"></script>
    </body>

</html>
